/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
 /* Fonts */
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(fonts/LaperutaFLF.ttf);
/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */

/*  */

@font-face {
  font-family: main-font;
  src: url(fonts/LaperutaFLF.ttf);
}

body {
  margin: 0;
  padding: 0;
  background: #E1F2FE;
  font-family: 'main-font', sans-serif;
}

#img {
  width: 100%;

  left: 0;
  right: 0;
}

.nav {
  background-color: #102542;
  width: 100%;
  color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  font-family: 'main-font', sans-serif;
}

.header__logo-image {
  height: 100px;
  padding-left: 10px;
}

.header__name-and-slogan {
  padding-top: 10px;
}

#name-and-slogan span {
  color: #fff;
}

#main {
  padding-top: 100px;
}

#main-menu {
  float:right;
  padding-top: 35px;
  margin-right:
  font-size: 34px;
  text-decoration: none;
  font-family: 'main-font', sans-serif;
}

.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  float: right;
}
.nav li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.menu-219:hover, .menu-431:hover, .menu-432:hover, .menu-433:hover, .menu-435:hover {
  background-color: #12355B;
  text-decoration: none;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
  text-decoration: none;
}

#main-menu a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  margin: 0 16px 0 16px;

}

.btn-huge {
    padding:12px 22px;
    font-size:34px;
    width: 50%;
    height: 100px;
    margin-top: 20px;
    font-size: 50px;

}

.btn {
  background-color: #102542;
  color: #fff;
  border-radius: 5px;
}

#btn {
  text-align: center;
}



@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

   Options 2 - Float
  .nav li {
    float: right:
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
    float: right:
  }





}
